---
import "bulma/css/bulma.min.css";
import { pwaInfo } from "virtual:pwa-info";

export interface Props {
  title: string;
}

const { title } = Astro.props;
const base = "/recipes2/";
---

<!DOCTYPE html>
<html lang="fr" class="has-background-dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Recettes" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#fff" />
    <link rel="icon" href="/recipes2/favicon.svg" type="image/svg+xml" />
    <title>{title}</title>
    <script src="/src/pwa.ts"></script>
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
  </head>
  <body>
    <slot />

    <footer class="mt-3 footer">
      <div class="content is-small has-text-centered">
        <p>
          {
            Astro.url.pathname !== base && (
              <Fragment
                set:html={`<a href="${Astro.url.origin}${base}">Accueil</a> -`}
              />
            )
          }
          Les recettes sont disponibles sur
          <a
            href="https://github.com/EtienneR/recipes2/"
            target="_blank"
            rel="noopener">Github</a
          >
          - Site propulsé par
          <a href="https://astro.build" target="_blank" rel="noopener"
            >Astro {Astro.generator}</a
          >
          et mise en page avec
          <a href="https://bulma.io" target="_blank" rel="noopener">Bulma</a>
        </p>
      </div>
    </footer>
  </body>
</html>
